<title> Thankyou for booking your appointment </title>
      <body>
         <h1 class= "heading">your appointment has been confirmed</h1>
         <h2 class= "heading">Click the button below to return to the dashboard</h2>

<a href="/dashboard">dashboard</a>
<a href="/sign-out">Sign out</a>