<title> Book an appointment </title>
      <body>
         <h1 class= "heading">Book an appointment</h1>

         <form action="/bookAppointment" class = "form" method = "post">

<input type ="date" name="date"
  placeholder = Date></input>

  <input type ="time" name="time"
  placeholder = Time>

  <input type ="text" name="appointmentReason" maxlength = "30" 
  placeholder = Reason For Appointment >

<textarea id="additionalInformation" name="additionalInformation"
          rows="5" cols="33">
</textarea>

<button type="submit" class="btn">Submit</button>

</form>

<a href="/sign-out">Sign out</a>
