<title> Appointment Deleted </title>
      <body>
         <h1 class= "heading">The appointment has been successfully deleted</h1>
         <h2 class= "heading">Click the button below to return to the dashboard</h2>

<a href="/dashboard">dashboard</a>
<a href="/sign-out">Sign out</a>