<title> Login or create an account </title>
      <body>
            <h1 class= "heading">Welcome to the Online Doctor Service</h1>
         <h2 class= "heading">Register or Login using the buttons below</h2>

         <a href="/registerUser">Register Page</a>
         <a href="/userLogin">Login Page</a>

      