<title> Login to your account </title>
         <h1 class= "heading">Login to your account</h1>

<form action="/userLogin" class = "form" method = "post">

<input type ="email" name="Email"
  placeholder = Email>

<input type ="password" name="Passsword"
  placeholder = Password></input>

<button type="submit" class="btn">Submit</button>

</form>

