<title> Register for an account </title>
         <h1 class= "heading">Enter your details below to register for an account</h1>

<form class = "form" method = "post">

  <input type="text" name="firstName"
  placeholder="First name">

  <input type="text" name="lastName"
  placeholder="Last name">

<input type="email" name="Email"
  placeholder="Email">

<input type="password" name="Passsword"
  placeholder="Password"></input>

<button type="submit" class="btn">Submit</button>

</form>

